.crystal-image {
	height: 100px;
	margin-left: 10px;
	margin-right: 10px;
	width: 150px;

}
body {
	background-image: url('../images/background.png');
	background-repeat: repeat;
}
.gameNameStyle {
	background: orange;
	height: 2em;
	padding: 20px;
	color: white;

}