.container {
	margin: auto;
}

.crystal-image {
	height: 100px;
	margin: 10px;
	width: 120px;
	border: 1px;
	

}
body {
	background-image: url('../images/background.png');
	background-repeat: repeat;
}
.gameNameStyle {
	background: orange;
	padding: 10px;
	color: white;
	margin-top: 10px;

}
.crystalPics {
	padding: 10px;
}

.randNum {
	background: green;
}
